<mat-dialog-content class="mat-typography">
    <div class="add-card">
        <mat-card>
            <mat-card-title-group class="add-card-header">
                <mat-card-title class="add-card-title">EDITA ESTA TAREA</mat-card-title>
            </mat-card-title-group>
            <mat-divider></mat-divider>
            <mat-card-content>
                <!--Bloque done irá el formulario para editar una tarea-->
                <div>
                    <form class="cuadritos">
                        <div class="form-group">
                            <span class="cuadrito">
                                <input class="inputStyle" type="number" id="id" placeholder="Nuevo ID" name="id" [(ngModel)]="tareaE.id">
                            </span>
                        </div>
                        <div class="form-group">
                            <span class="cuadrito">
                                <input class="inputStyle" type="text" id="descripcion" placeholder="Nueva descripcion" name="descripcion" [(ngModel)]="tareaE.descripcion">
                            </span>      
                        </div>
                        <div class="form-group">
                            <span class="cuadrito">
                                <input class="inputStyle" type="text" id="estado" placeholder="Nuevo estado" name="estado" [(ngModel)]="tareaE.estado">
                            </span>
                        </div>
                    </form>  
                </div>
            </mat-card-content>
            <mat-card-footer>
                <button class="submit-button" mat-mini-fab color="accent" mat-dialog-close (click)="tareaEditada()" >
                    <mat-icon>plus_one</mat-icon>
                </button>
            </mat-card-footer>
        </mat-card>       
    </div>
</mat-dialog-content>