
<div>
    <button (click)="obtenerTareas()">Mostrar todas las tareas</button>
    <button (click)="eliminarTarea(2)">Eliminar la tarea </button>
    <button (click)="editarTarea()">Editar tarea </button>
</div>

<div class="task-list">
    <div class="example-card" *ngFor="let x of tareas">
            <mat-card>
                <mat-card-title-group>
                    <mat-card-title>ID: {{ x.id}}</mat-card-title>
                    <mat-card-subtitle>Estado: {{x.estado}}</mat-card-subtitle>
                    <button mat-raised-button color="warn" (click)="eliminarTarea(2)">Delete</button>
                </mat-card-title-group>
                <mat-card-content>
                    Descripcion: {{x.descripcion}}
                </mat-card-content>
            </mat-card>       
    </div>
</div>

